body,
html {
  margin: 0;
  padding: 0;
  margin-bottom: 50px; 
  /* background-color: red; */
}

.activity, .goals {
  margin-left: 20px !important;
}

.goals,
.graphs,
.motivation,
.user-data {
    margin-bottom: 20px !important;
}

.goals,
.motivation,
.user-data {
    height: 300px;
}

.rounded-corner {
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.6); 
  -moz-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.6);     
  box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.6);       
}

h2,
.welcome {
  font-weight: 500;
  font-size: 5px;
}

.parent-container-using-flex {
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  width: 100%;
}

h2,
p,
.motivation-level-dropdown,
.activity,
.hydration,
.sleep,
.goals,
.motivation,
.user-data,
.data-view {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
}

h3 {
  margin: 0;
  font-size: 0.6rem;
}

.logo-img {
  max-width: 100%;
  height: 50%;
  margin-left: 2rem;
}

.activity::-webkit-scrollbar,
.hydration::-webkit-scrollbar,
.sleep::-webkit-scrollbar,
.goals::-webkit-scrollbar,
.motivation::-webkit-scrollbar,
.user-data::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;
    border: solid 4px transparent;
}

.activity::-webkit-scrollbar-track,
.hydration::-webkit-scrollbar-track,
.sleep::-webkit-scrollbar-track,
.goals::-webkit-scrollbar-track,
.motivation::-webkit-scrollbar-track,
.user-data::-webkit-scrollbar-track {
    background-color:  #25C1E3;
    padding-top: 10% !important;
    padding-bottom: 10% !important;
}

.activity,
.hydration,
.sleep,
.goals,
.motivation,
.user-data {
    scrollbar-width: thin; 
    scrollbar-color: #25C1E3 #F5F5F5;
}

/* Universal settings for overflow */
.activity,
.hydration,
.sleep,
.goals,
.motivation,
.user-data {  
    overflow-y: auto;
    overflow-x: auto; 
}

/* ~~~~~ GRID COMPONENTS ~~~~~ */
.grid-layout {
  display: grid;
  height: 100vh;
  width: 80vw;
  margin: 0 3vw; 
  grid-template-areas:
    "logo greeting"
    "data-view-grid data-view-grid";
  grid-template-rows: 0.03fr 1.97fr;
  row-gap: 10px;
  grid-template-columns: 78% 42%;
}

.data-view-grid {
  display: grid;
  height: 100vh;
  width: 96vw;
  margin: 0 2vw;
  grid-template-areas:
    "activity hydration sleep data-view"
    "activity hydration sleep graphs"
    "goals motivation user-data graphs";
    gap: 2% 2%;
  grid-template-columns: 0.7fr 0.7fr 0.7fr 1.9fr;
  grid-template-rows: 1.4fr .55fr 2.05fr;
  border-radius: 10px;
  grid-template-rows: auto auto auto;
}

.header-quote {
  color: black;
  background-color: #C2FAFF;
  padding: 1em;
  font-size: 1rem;
  max-width: 90%;
  margin-left: 1rem;
  border: 3px solid white;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-layout, .grid-layout > * {
  margin: 0;
}

.logo {
  grid-area: logo;
  padding: 0.1rem;
  background-color: #25C1E3;
  font-size: 0.8rem;
}

.greeting {
  grid-area: greeting;
  padding: 2px 25px 5px 0;
  background-color: #25C1E3;
  font-size: 0.8rem;
  width: 110%;
  box-sizing: border-box;
}

.personal-greeting {
  color: black;
  background-color: #C2FAFF;
  padding: 0 0.55%;
  font-size: 0.7rem;
  min-width: 10%;
  margin: 10px 4% 0 10%;
  border: 3px solid white;
  text-align: center;
  margin-top: 2rem;
  margin-left: 20px !important;
}

.welcome {
  font-size: 1.2rem;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity,
.hydration,
.sleep,
.data-view,
.goals,
.motivation,
.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.activity h2,
.hydration h2,
.sleep h2,
.data-view h2,
.goals h2,
.motivation-card h2 {
  align-self: center;
  margin-top: 20px;
  position: sticky;
  font-weight: 500;
}

.activity-daily-steps,
.activity-daily-minutes,
.activity-daily-miles,
#hydrationInfo,
#dailySleep,
#averageSleep,
#start-date-input {
  margin-top: 20px;
}

.activity {
  grid-area: activity;
}

.hydration {
  grid-area: hydration;
}

.hydration label {
  margin-bottom: 5px;
}

.hydration input[type="number"] {
  margin-bottom: 10px;
}

.hydration input[type="submit"] {
  margin-top: 10px;
}

.sleep {
  grid-area: sleep;
}

.data-view {
  grid-area: data-view;
}

.graphs {
  position: relative;
  grid-area: graphs;
  max-height: 410px;
}

.graphs-bg-img {
  background-image: url('../images/FitChicks_scene_sm.png');
  background-position: center;
  background-repeat: no-repeat;
}

.goals {
  grid-area: goals;
}

.motivation {
  grid-area: motivation;
}

.motivation-image {
  margin: 0;
  padding: 0;
}

.user-data {
  grid-area: user-data;
}

.rounded-corner {
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(51, 51, 51, 1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(51, 51, 51, 1);
  box-shadow: 0px 0px 2px 2px rgba(51, 51, 51, 1);
}

/* ~~~~~ MOTIVATION CARD STYLES ~~~~~ */

.motivation-level-dropdown {
  max-width: 70%;
  min-width: 70%;
  padding: 0px;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  border: 3px solid #333333;
}

/* ~~~~~ BUTTON STYLES ~~~~~ */

.averages-buttons {
  align-self: space-around;
}

.activity-button,
.hydration-button,
.sleep-button {
  margin: .5em .5em
}

.sleep-button.disable-button,
.hydration-button.disable-button,
.activity-button.disable-button {
  background-color: #EAEAF4;
  cursor: not-allowed;
}

.activity-button,
.hydration-button,
.sleep-button {
  box-shadow: 2px 2px 0px 0px #899599;
  border-radius: 21px;
  border: 2px solid #bdb7bd;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: "Poppins";
  font-size: 1rem;
  padding: 13px 32px;
  text-decoration: none;
  margin-bottom: 1.9rem;
}

.activity-button {
  background: linear-gradient(to bottom, #fbac92 5%, #dfcae3 100%);
  background-color: #fbac92;
  text-shadow: 0px 0px 0px #e1e2ed;
}

.activity-button:hover {
  background: linear-gradient(to bottom, #dfcae3 5%, #fbac92 100%);
  background-color: #dfcae3;
}

.hydration-button {
  background: linear-gradient(to bottom, #9ce6f7 5%, #9ea1ab 100%);
  background-color: #9ce6f7;
  text-shadow: 0px 0px 0px #e1e2ed;
}

.hydration-button:hover {
  background: linear-gradient(to bottom, #9ea1ab 5%, #9ce6f7 100%);
  background-color: #9ea1ab;
}

.sleep-button {
  background: linear-gradient(to bottom, #9dfae9 5%, #c6d5e6 100%);
  background-color: #9dfae9;
  text-shadow: 0px 0px 0px #e1e2ed;
}

.sleep-button:hover {
  background: linear-gradient(to bottom, #c6d5e6 5%, #9dfae9 100%);
  background-color: #c6d5e6;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden {
  display: none !important;
}

/* ~~~~~ MEDIA QUERIES ~~~~~ */

/* iPad / Tablet */
@media only screen and (max-width: 768px) {

  .grid-layout {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 75% 25%;
    grid-template-rows: 0.04fr 3.96fr;
    grid-template-areas:
      "logo greeting"
      "data-view-grid data-view-grid";
    row-gap: 20px;
  }

  .data-view-grid {
    display: grid;
    height: auto; 
    /* height: 100vh; */
    width: 96vw;
    margin: 0 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "activity goals sleep data-view"
      "activity goals sleep graphs"
      "hydration motivation user-data graphs";
    ;
    gap: 1% 1%
  }

  .logo img {
    max-width: 80%
  }

  .greeting {
    justify-content: center;
    align-items: center;
  }

  .welcome {
    font-size: 1.25rem;
    margin: 20px 0 0 0;
  }

}